[project]
	description = Next generation cloud dash board for providers in mind.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kelepirci
[access "refs/for/refs/*"]
	read = group user/kelepirci
	push = group user/kelepirci
	label-Code-Review = -2..+2 group user/kelepirci
	label-Verified = -1..+1 group user/kelepirci
	rebase = group user/kelepirci
	removeReviewer = group user/kelepirci
	submit = group user/kelepirci
[access "refs/heads/*"]
	read = group user/kelepirci
	create = group user/kelepirci
	push = +force group user/kelepirci
	pushMerge = group user/kelepirci
[access "refs/tags/*"]
	push = +force group user/kelepirci
	pushTag = group user/kelepirci
	pushSignedTag = group user/kelepirci
