[project]
	description = Next generation cloud dash board for providers in mind.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kelepirci (kelepirci)
[access "refs/for/refs/*"]
	read = group user/kelepirci (kelepirci)
	push = group user/kelepirci (kelepirci)
	label-Code-Review = -2..+2 group user/kelepirci (kelepirci)
	label-Verified = -1..+1 group user/kelepirci (kelepirci)
	rebase = group user/kelepirci (kelepirci)
	removeReviewer = group user/kelepirci (kelepirci)
	submit = group user/kelepirci (kelepirci)
[access "refs/heads/*"]
	read = group user/kelepirci (kelepirci)
	create = group user/kelepirci (kelepirci)
	push = +force group user/kelepirci (kelepirci)
	pushMerge = group user/kelepirci (kelepirci)
[access "refs/tags/*"]
	push = +force group user/kelepirci (kelepirci)
	pushTag = group user/kelepirci (kelepirci)
	pushSignedTag = group user/kelepirci (kelepirci)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
